:root
{
    --backround-form: #e6eee3;
    --color-text: #005500;
    --nav_btn-color: #78b165;
    --nav_btn-color-hover: #005500;
}
body{
/*    background: rgba(43, 172, 170, 0.08);*/
    background: rgba(230, 238, 227, 0.31);
    padding: 0;
    margin: 0;
}

.left:nth-child(2)
{
    left: 175px;
}
.left:nth-child(3)
{
    left: 363px;
}
.header{
    margin-top: 25px;
}
.header-menu
{
    margin: 0 30px;
}
i
{
    margin-right: 5px;
    position: relative;
    float: right;
}
.fa-calendar-times-o, .fa-check-square-o
{
    margin-right: 35px;
}
.fa-pencil-square, .pancil
{
    color: #231688;
}
.fa-address-book, .book
{
    color: #037b98;
}
.fa-camera-retro, .camera
{
    color: #62890b;
}
.ui-accordion-header
{
    background: var(--backround-form);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    height: 50px;
}
.ui-accordion-header:nth-child(1)>i
{
/*    background: rgba(35, 22, 136, 0.29);*/
    color: #231688;
}
#event_title>i
{
/*    background: rgba(3, 123, 152, 0.29);*/
    color: #037b98;
}
#done_title>i
{
/*    background: rgba(195, 173, 8, 0.29);*/
    color: #d1ba09;
}
#overdue_title>i
{
/*    background: rgba(116, 60, 4, 0.29);*/
         color: rgb(195, 97, 0);
}
#memory_title>i
{
/*    background: rgba(98, 137, 11, 0.29);*/
         color: #62890b;
}
.header-menu>li
{
    border: 2px solid var(--nav_btn-color);
    padding: 7px 8px;
    margin-right: 10px;
    border-radius: 10px;
}
.header-menu>li:hover{
    background: #fff;
    border: 2px solid var(--nav_btn-color-hover);
}
.header-menu>li:hover a{
    color: var(--nav_btn-color-hover);
}
.header-menu>li>a
{
    text-decoration: none;
    color: var(--nav_btn-color);
}

.main-spaice{
    margin-top: 35px;
}
.main{
    float: left;
    margin: 10px;
}
/*
.task
{
    height: inherit;         
    background: #fff;
    border-radius: 15px;
    box-shadow: #dbdbdb 0 2px 2px 3px;
    padding: 20px;
}
*/
#body_note, #body_event
{
    display: none;
    width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}
.tag
{
width: 200px;
float: right;
color: var(--color-text);
}
#add_task>input, #add_task>.select>select, #add_tag>input, #add_event>input, #add_event>.select>select
{
    width: 100%;
    margin: 5px;
    background: var(--backround-form);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-text);
}
.select, input[name="date"]
{
    float: left;
    width: 50%;
}
.select>label
{
    margin: 5px;
    color: var(--color-text);
}
#add_task>.select>select
{
    width: 90%;
}

#add_task>input::placeholder, #add_tag>input::placeholder, #add_event>input::placeholder
{
    color: var(--color-text);
    opacity: .5;
}
input[name="task_body"]
{
    height: 50px;
}
.btn
{
    border: 2px solid var(--nav_btn-color);
    padding: 7px 8px;
    border-radius: 10px;
    margin: 5px;
    background: #fff;
    color: var(--nav_btn-color);
}
.btn:hover{
/*    background: #e6eee3;*/
    border: 2px solid var(--nav_btn-color-hover);
    color: var(--nav_btn-color-hover);
}


.sidebad
{
    height: 300px;
    font-size: .8em;
}
.name_task_preview
{
    border-left: 3px solid var(--color-text);
    padding-left: 15px;
    margin: 1px;
}
.task_date_preview
{
    margin: 0 0 5px;
   border-bottom: 1px solid var(--backround-form);
}
#accordion>.title_block
{
    margin-top: 10px;
}
#accordion>.title_block:hover {
  background: #b4c6ae;  
}
/*Получение таски*/
    .task
{
    position: relative;
    margin: 10px;    
    background: #fff;
    border-radius: 15px;
    border: 1px solid var(--color-text);
/*    box-shadow: #dbdbdb 0 2px 2px 3px;*/
    padding: 20px;
}
.task>p
{
    margin: 2px;
    color: var(--color-text);
    display: inline-block;
    padding: 2px;
    text-transform: lowercase;
}
.name_task
{
    border-left: 3px solid var(--color-text);
    padding-left: 15px;
    color: var(--color-text);
    font-weight: 300;
}
.task_comment
{
    color: #b4c6ae;
    display: inline-block;
    float: left;
    margin: 2px;
    padding: 2px;
}
.tag
{
    border: 
}
.clearFix
    {
        clear: both;
        content: '';
    }
.task_date, .task_time
    {
        position: absolute;
        right: 10px; 
    }
.task_date
    {
        bottom: 15px;
    }
.task_time
    {
        bottom: 45px;
    }
#done_delete
{
    text-decoration: none;
    font-size: 1.3em;
    color:  var(--color-text);
    margin: 0 5px 0 0;
}
.event_place
{
    border: none;
    margin: 0;
    padding: 0;
}
/*Всплывающее окно*/
.shadow
{
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 50;
}
.close_add_form
{
    
    display: inline-block;
    border-radius: 50%;
 font-size: 18px;
 border: 2px solid var(--color-text);
 color: var(--color-text);
 padding: 0px 8px;
 cursor: pointer;
}
/*Выведение всех тегов*/
    .all_tag_name
    {
        list-style: none;
        display: inline-block;
    }
    .all_tag_name>li
    {
        display: inline-block;
        background: #b4c6ae;
        color: #005500;
        margin: 5px;
        padding: 2px;
    }
    /*Блок с сортировкой*/
.sort_sidebar
{
    float: right;
}
.sort
{
    list-style: none;
    display: inline-block;
}
.sort>li
{
    display: inline-block;
/*    border: 1px solid var(--color-text);*/
    border-radius: 10px;
    margin: 3px;
    padding: 2px;
    background: var(--backround-form);
}
.sort>li>a
{
    text-decoration: none;
    color: var(--color-text);
}

