:root
{
    --backround-form: #e6eee3;
    --color-text: #005500;
    --nav_btn-color: #78b165;
    --nav_btn-color-hover: #005500;
}
@font-face {
  font-family: Montserrat Regular;
  src: local("Scriptorama"),
       url(font2.otf);
}
body
{
    font-family: Montserrat Regular;
    background: rgba(230, 238, 227, 0.31);
    padding: 0;
    margin: 0;
}

.left:nth-child(2)
{
    left: 175px;
}
.left:nth-child(3)
{
    left: 363px;
}
.header{
    margin-top: 25px;
}
.header-menu
{
    margin: 0 30px;
}
i
{
    margin-right: 5px;
    position: relative;
    float: right;
    cursor: pointer;
}
.fa-calendar-times-o, .fa-check-square-o
{
    margin-right: 35px;
}
.fa-pencil-square, .pancil
{
    color: #231688;
}
.fa-address-book, .book
{
    color: #037b98;
}
.fa-camera-retro, .camera
{
    color: #62890b;
}
.ui-accordion-header
{
    font-family: Montserrat Regular;
    background: var(--backround-form);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    height: 50px;
}
.ui-accordion-header:nth-child(1)>i
{
/*    background: rgba(35, 22, 136, 0.29);*/
    color: #231688;
}
#event_title>i
{
/*    background: rgba(3, 123, 152, 0.29);*/
    color: #037b98;
}
#done_title>i
{
/*    background: rgba(195, 173, 8, 0.29);*/
    color: #d1ba09;
}
#overdue_title>i
{
/*    background: rgba(116, 60, 4, 0.29);*/
         color: rgb(195, 97, 0);
}
#memory_title>i
{
/*    background: rgba(98, 137, 11, 0.29);*/
         color: #62890b;
}
.header-menu>li
{
    border: 2px solid var(--nav_btn-color);
    padding: 7px 8px;
    margin-right: 10px;
    border-radius: 10px;
}
.header-menu>li:hover{
    background: #fff;
    border: 2px solid var(--nav_btn-color-hover);
}
.header-menu>li:hover a{
    color: var(--nav_btn-color-hover);
}
.header-menu>li>a
{
    text-decoration: none;
    color: var(--nav_btn-color);
}
.main_title
{
    padding-left: 15px;
}
.main-spaice{
    margin-top: 35px;
}
.main{
    float: left;
    margin: 10px;
}
#task_add, #event_add, #user_info, #note_add
{
    display: none;
    width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}
.tag
{
width: 200px;
float: right;
color: var(--color-text);
}
#add_task>input, #add_task>.select>select, #add_tag>input, #add_tag2>input, #add_tag3>input,  #add_tag4>input, #add_event>input, #add_event>.select>select, #userInfo>input, #userPass>input, #note_add>input, #result_form_get_tag_note
{
    font-family: Montserrat Regular;
    width: 100%;
    margin: 5px;
    background: var(--backround-form);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-text);
}
#photo
{
    color: #005500;
    width: 100%;
    position: relative;
    bottom: -15px;
    left: 20px;
}
#photoAdd
{
    position: relative;
    left: 15px;
    bottom: -5px;
}
.select
{
    float: left;
    width: 50%;
}

.select>label
{
    margin: 5px;
    color: var(--color-text);
}
#add_task>.select>select
{
    width: 90%;
}
#add_date
{
    width: 100% !important;
    height: 31px;
    font-family: Montserrat Regular;
    margin: 5px;
    background: var(--backround-form);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-text);
}
#add_task>input::placeholder, #add_tag>input::placeholder, #add_tag2>input::placeholder, #add_tag3>input::placeholder, #add_tag4>input::placeholder, #add_event>input::placeholder, #userInfo>input::placeholder, #userPass>input::placeholder, #note_add>input::placeholder
{
    font-family: Montserrat Regular;
    color: var(--color-text);
    opacity: .5;
}
input[name="task_body"]
{
    height: 50px;
}
button
{
      font-family: Montserrat Regular;
}
.btn
{
    clear: both;
    border: 2px solid var(--nav_btn-color);
    padding: 7px 8px;
    border-radius: 10px;
    margin: 5px;
    background: #fff;
    color: var(--nav_btn-color);
   
}
#photoAdd
{
   color: var(--color-text);
   margin: 5px;
}
.btn:hover{
/*    background: #e6eee3;*/
    border: 2px solid var(--nav_btn-color-hover);
    color: var(--nav_btn-color-hover);
}


.sidebad
{
    height: 300px;
    font-size: .8em;
}
.name_task_preview
{
    border-left: 3px solid var(--color-text);
    padding-left: 15px;
    margin: 1px;
}
.task_date_preview
{
    margin: 0 0 5px;
   border-bottom: 1px solid var(--backround-form);
}
#accordion>.title_block
{
    margin-top: 10px;
}
#accordion>.title_block:hover {
  background: #b4c6ae;  
}
/*Получение таски*/
    .task
{
    position: relative;
    margin: 10px;    
    background: #fff;
    border-radius: 15px;
    border: 1px solid var(--color-text);
    padding: 20px;
}
.task>p
{
    margin: 2px;
    color: var(--color-text);
    display: inline-block;
    padding: 2px;
    text-transform: lowercase;
}
.name_task
{
    border-left: 3px solid var(--color-text);
    padding-left: 15px;
    color: var(--color-text);
    font-weight: 300;
}
.task_comment
{
    color: #b4c6ae;
    display: inline-block;
    float: left;
    margin: 2px;
    padding: 2px;
}

.clearFix
    {
        clear: both;
        content: '';
    }
.task_date, .task_time
    {
        position: absolute;
        right: 10px; 
    }
.task_date
    {
        bottom: 15px;
    }
.task_time
    {
        bottom: 45px;
    }
#done_delete
{
    text-decoration: none;
    font-size: 1.3em;
    color:  var(--color-text);
    margin: 0 5px 0 0;
}
.event_place
{
    border: none;
    margin: 0;
    padding: 0;
}

#note_img
{
   width: 200px;
}
#note_img:hover
{
   position: absolute;
   width: 600px;
    z-index: 1;
}
/*Всплывающее окно*/
.shadow
{
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 50;
}
.close_add_form
{
    
    display: inline-block;
    border-radius: 50%;
 font-size: 18px;
 border: 2px solid var(--color-text);
 color: var(--color-text);
 padding: 0px 8px;
 cursor: pointer;
}
/*Выведение всех тегов*/
    .all_tag_name
    {
        list-style: none;
        display: inline-block;
    }
    .all_tag_name>li
    {
        display: inline-block;
        background: #b4c6ae;
        color: #005500;
        margin: 5px;
        padding: 2px;
    }
    /*Блок с сортировкой*/
.sort_sidebar
{
    float: right;
}
.sort_sidebar_title
{
padding-left: 40px;
/*    display: none;*/
}
.sort
{
    list-style: none;
/*    display: inline-block;*/
    margin-left: 1px;
    padding-left: 1px;
}
.sort>li
{
    display: inline-block;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    border-bottom: 1.5px solid #005500;
}
.sort>li:hover
{
     border: 1.5px solid #005500;
    color: #005500;
}
.sort>li>a
{
    text-decoration: none;
    color: var(--color-text);
}

#done_delete
{
    cursor: pointer;
}

/*просроченное*/
#result_form_overdue_task, #result_form_overdue_event, #result_form_done_task, #result_form_done_event
{
    display: none;
}

/*Обновление личных данных*/
.menu_userInfo
{
    width: 25%; 
    float: left; 
    border-right: 1px solid #c9c9c9; 
    height: 300px; 
    margin-right: 5%;
}
#changeUserInfo
{
    position: relative; 
    top: 105px; 
    border-bottom: 1px solid #c9c9c9; 
    padding-bottom: 35px; 
    cursor: pointer;
}
#changePass
{
    position: relative; 
    top: 135px; 
    cursor: pointer;
}
#new_pass
{
    width: 70%; 
    float: left; 
    padding-top: 30px; 
    display: none;
}
#body_userInfo
{
    width: 70%; 
    float: left;
}
#showThis
{
   cursor: pointer;
}

/*Настройка блока сортировки*/
#tabs
{
    border: none;
    color: #005500 !important;
}
#tabs>.ui-widget-content
{
height: 495px;
}
.ui-widget-content
{
    font-family: Montserrat Regular;
    border: none;
    padding: 1px;
    border-radius: 10px;
}
#sort_task_div
{
    font-family: Montserrat Regular;
    float: left;
    margin-top: 20px;
}
.title_sort
{
    padding-left: 10px; 
    color: #b4c6ae;
}
.ui-tabs-anchor
{
    background: var(--backround-form);
    border: none;
    color: #005500;
}
.ui-widget-header
{
    background: none;
}
.ui-tabs-nav
{
    background: none;
    border: none;
    color: #005500  !important;
}
#tabs .ui-state-active
{
     background: #005500;
     border-radius: 5px;
    padding-bottom: 2px;
}

  .ui-tabs-anchor
{
    border-radius: 5px;
    color: #005500  !important;
}

.ui-corner-all
{
    border: none  !important;
    color: #005500  !important;
}
 #sort_tabs
{
    border: none;
    color: #005500;
}
.ui-widget-content
{
    background: #fff;
}

#result_form3
{
margin-top: 20px;
margin-left: 25px;
color: #005500;
}
#confirm
{
    background: #fff;
    display: none;
    width: 200px;
    border: 1px solid #005500;
    color:  #005500;
    padding: 15px;
    border-radius: 10px;
}
#confirm>p
{
    text-align: center;
}
#yes
{
    float: left;
}